.top{
  &__container{
    background-color: #e6f0f7;
    padding: 35px 0;
    text-align: center;
  }

  &__title{
    font-size: 36px;
    line-height: 24px;
    @extend %quicksand-300;
    margin-bottom: 10px;
  }

}

.breadcrumbs{
  display: flex;
  justify-content: center;

  &__list{
    display: flex;
  }
  
  
  &__item{
    color: #737980;
    padding-right: 20px;
    position: relative;
    @extend %quicksand-400;
    font-size: 14px;
    line-height: 24px;

    &::after{
      content: "/";
      position: absolute;
      top: 0px;
      right: 7px;
    }

    &:last-child{
      // color: palevioletred;
      padding-right: 0;
      &::after{
        display: none;
      }

    }
  }

  &__link{
    color:inherit;
  }
  
 

}