$header: #3f82a2;
$our: #262626;
$link: #436372;
$safe: #243f4d;

%quicksand-700{
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%quicksand-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%quicksand-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%quicksand-300{
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%input-hidden{
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

%text-hidden{
  display: flex;
  justify-content: space-between;
  @extend %quicksand-400;
  color: #243f4d;
  padding: 15px;
  font-size: 16px;
}


@function max($numbers...) {
   @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
   @return m#{i}n(#{$numbers});
}