@import 'vars';
@import 'fonst';
@import 'reset';
@import 'libs';
@import 'global';







.top-slider{
  background-image: url('../images/slider/top-header-ellipse.png');
  background-repeat: no-repeat;
  background-size: 675px;
  background-position: right;
  background-color: #fcd7b6;
  padding-top: 274px;
  padding-bottom: 50px;

  &__content{
   padding-left: 190px;
   
  }

  &__item{
    display: flex !important;
    justify-content: space-between;
  }

  &__title{
    font-size: 72px;
    line-height: 70px;
    color: $header;
    max-width: 430px;
    margin-bottom: 45px;
    @extend %quicksand-500;
  }

  &__text{
    max-width: 370px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 30px;
    @extend %quicksand-400;
    color: #436372;
  }

  &__link{
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #a3bbc8;
    padding: 23px 20px;
    @extend %quicksand-500;
    max-width: 200px;
    
  }

  &__img{
    padding-top: 50px;
  }


}

.slick-dots{
  display: flex;
  justify-content: center;

  li{
    padding: 0 8px;
    button{
      padding: 0;
      font-size: 11px;
      line-height: 9px;
      border: none;
      background-color: #fff;
      width: 29px;
      height: 29px;
      opacity: 0.5;
      border-radius: 50%;
      color: #243f4d;
      @extend %quicksand-500;
      margin-top: 200px;
    }
    &.slick-active{
      button{
        opacity: 1;
      }
    }
  }
}

.support{
  background-color: #fef7f0;
  padding: 45px 0;

  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item-time{
    max-width: 200px;
    position: relative;
  }

  &__inner{
    padding: 0 145px;
  }

  &__item-car,
  &__item-card{
    max-width: 220px;
    position: relative;
  }

  &__title{
    line-height: 40px;
    color: #414141;
    @extend %quicksand-500;
  }

  &__text{
    color: #585858;
    font-size: 16px;
    @extend %quicksand-400;
  }

  &__item-time::before{
    content: "";
    position: absolute;
    background-image: url('../images/support/time.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    left: -70px;
    top: 5px;
    
  }

  &__item-car::before{
    content: "";
    position: absolute;
    background-image: url('../images/support/car.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 67px;
    left: -80px;
    top: 10px;
    
  }

  &__item-card::before{
    content: "";
    position: absolute;
    background-image: url('../images/support/card.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 44px;
    width: 49px;
    left: -62px;
    top: 5px;
  }


}

.products{
  padding: 75px 0 85px;

 

  &__title{
    text-align: center;
  }

  &__filter-btn{
    text-align: center;
  }

  &__filter-btn + .products__filter-btn{
    margin-left: 28px;
    
  }

  &__btn{
    border:none;
    background-color: transparent;
    color: #8b8b8b;
    font-size: 16px;
    @extend %quicksand-500;
    margin-bottom: 80px;
    
  }

  &__btn:hover{
    color: #000;
    cursor: pointer;
  }

  &__content{
    max-width: 1170px;
    margin: 0 auto;
  }
  
  &__items{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
    
  }
  
  
  &__item{
    position: relative;
    overflow: hidden;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: rgb(255, 255, 255);
  }
  
  &__chair{
    padding: 40px 0 40px;
    max-width: 270px;
    height: 380px;
    position: relative;
  }

  &__item-img{
   margin: 0 auto;
  }



  &__name{
    position:absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #243f4d;
  }

  &__price{
    position:absolute;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #a3bbc8;
    bottom: 40px;
    left: 0;
    right: 0;
    
  }
  

 &__item-link-mark{
   position: absolute;
   left: 0px;
   right: 0px;
   bottom: 160px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 170px;
   height: 45px;
   margin: 0 auto;
   transform: translateY(3300%);
  
  transition: all .8s;
 }

  &__item-link{
    border-radius: 50%;
    background-color:#fff;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    display: inherit;
    path{
    transition: all 1s;
    }
  }

  &__item-link:hover{
    background-color: #a3bbc8;
    path{
      fill: #fff;
    }
  }
  
  
  &__item:hover{
   
    .products__item-link-mark{
      transform: translateY(0);
    }
   }

}

.lamp{
  padding: 85px 0 100px;

  &__items{
    display: flex;
    justify-content: space-between;
  }

  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // max-width: 870px;
    height: 390px;
    background-color: #feefe2;
    
  }

  &__item-one{
    padding: 100px 150px 100px 135px;
    margin-right: 30px;
    
  }

  &__item-two{
    padding: 90px 150px 90px 145px;
  }



  &__img{
    margin-right: 15px;
    margin-bottom: 175px;;
  }

  &__title{
    width: 245px;
    font-size: 26px;
    line-height: 32px;
    @extend %quicksand-500;
    color: #243f4d;
    margin-bottom: 25px;
  }

  &__text{
    width: 300px;
    font-size: 16px;
    color: #243f4d;
    @extend %quicksand-400;
    margin-bottom: 35px;
  }

  &__link{
    display: flex;
    justify-content: space-between;
    color: #fff;
    border: 1px solid #b3b7b5;
    padding: 23px 20px;
    @extend %quicksand-500;
    max-width: 200px;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    border-radius: 8px;
  }

}


.design{
  padding: 0 0 120px;
  

  &__title{
    text-align: center;
  }

  &__filter-btn{
    text-align: center;
  }

  &__filter-btn + .design__filter-btn{
    margin-left: 28px;
    
  }

  &__btn{
    border:none;
    background-color: transparent;
    color: #8b8b8b;
    font-size: 16px;
    @extend %quicksand-500;
    margin-bottom: 80px;
    
  }

  &__btn:hover{
    color: #000;
    cursor: pointer;
  }

  &__content{
    max-width: 1170px;
    margin: 0 auto;
  }

  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 35px;
  }

  &__item-img{
    width: 370px;
    height: 245px;
  }


}

.video{
  padding: 115px 0;

  &__inner{
    background-image: url('../images/video/video.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}





.terms{
  padding: 120px 0 40px; 
  max-width: 1200px;
  margin: 0 auto;

  &__title{
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 40px;
    color: #243f4d;
    @extend %quicksand-500;
  }

  &__item{
    margin-bottom: 80px;
  }

  &__text{
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    @extend %quicksand-400;
    
  }

  &__num{
    margin-bottom: 25px;
    
  }

}

ol{
    list-style-type: decimal-leading-zero;
}

.shop__inner{
  max-width: 1170px;
  margin: 0 auto;
  padding: 120px 0;
  display: flex;
}

.shop__filters{
  margin-right: 30px;
}

.filter__item{
  width: 270px;
  margin-bottom: 70px;
}

.filter__title{
  color:#243f4d;
  @extend %quicksand-500;
  position: relative;
  margin-bottom: 30px;
  display: inline-block;

  
}
.filter__title::after{
  content: "";
  position: absolute;
  background-image: url('../images/filter/line.svg');
  width: 38px;
  height: 2px;
  top: 10px;
    right: -50px;
}

.filter-category{
  &__label{
    margin-bottom: 5px;
    display: block;
    cursor: pointer;
    &:last-child{
      margin-bottom: 0;
    }
  }

  &__input{
    @extend %input-hidden;
    &:checked + .filter-category__checkbox{
      background-color: #edf1f4;
      border-radius: 8px;
    }
  }

  &__checkbox{
    @extend %text-hidden;
  }
}

.filter-price{


 &__data{
   display: flex;
   justify-content: space-between;
 }

 &__dollar{
  font-size: 14px;
  @extend %quicksand-400;
  color: #243f4d;
 }

 &__from{
  font-size: 14px;
  @extend %quicksand-400;
  color: #243f4d;
 }
 

 &__to{
  font-size: 14px;
  @extend %quicksand-400;
  color: #243f4d;
 }


}



.irs--flat .irs-min, .irs--flat .irs-max{
  display: none;
}

.irs--flat .irs-line {
  top: 25px;
  height: 1px;
  background-color: #c2d2db;
  border-radius: 4px;
  border: 1px solid #dfe7ec;
}

.irs--flat .irs-bar {
  top: 25px;
  height: 2px;
  background-color: #a3bbc8;
  border: 1px solid #bfd0d9;
}

.irs--flat .irs-handle {
  top: 20px;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
  display: none;
}


.filter-brand{
  &__input{
    @extend %input-hidden;
    &:checked + .filter-brand__checkbox{
      background-color: #edf1f4;
      border-radius: 8px;
      .filter-brand__numbers{
        color: #243f4d;
      }
    }
  }

  &__checkbox{
    @extend %text-hidden;
  }

  &__numbers{
    color: #bdbdbd;
  }
}

.filter-recent{
  &__label{
    display: flex;
    margin-bottom: 25px;
    &:last-child{
      margin-bottom: 0;
    }
  }

  &__image{
    border: 1px solid #f2f2f2;
    padding: 2px 6px;
    margin-right: 20px;
    
  }

  &__image-two{
    padding: 1px 15px;
  }

  &__image-three{
    padding: 0px 19px;
  }


  &__title{
    font-size: 14px;
    line-height: 16px;
    @extend %quicksand-400;
    color: #333333;
    margin-bottom: 8px;
    margin-top: 5px;
  }
  
  .star{
    margin-bottom: 5px;
    margin-left: -5px;
  }

  &__price{
    font-size: 15px;
    line-height: 27px;
    @extend %quicksand-400;
    color: #333333;
  }
}

.shop-content{
  width: 100%;
  &__inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 30px;
  }

  &__inner--list{
    display: block;
    // width: 370px;
    // // height: 500px;
  }

  &__item{
    display: flex;
    margin-bottom: 40px;
    &:last-child{
      margin-bottom: 0px;
    }
  }
  
  &__chair{
    border: 3px solid #f2f2f2;
    padding: 80px 20px;
    margin-right: 60px;
    min-width: 370px;
    min-height: 500px;
    background-color: #fefefe;
  }
  
  &__image{
    margin: 0 auto;
    height: 100%;
  }

  &__image-sofa{
    padding: 40px 0px;
  }



  &__box{
    padding: 90px 0 70px;
  }

  &__title{
    font-size: 40px;
    line-height: 26px;
    color: #333333;
    @extend %quicksand-400;
    margin-bottom: 25px;

  }

  &__star{
    margin-bottom: 25px;
    margin-left: -5px;
  }

  &__price{
    font-size: 30px;
    line-height: 45px;
    color: #333333;
    margin-bottom: 25px;
    @extend %quicksand-400;
  }

  &__text{
    font-size: 16px;
    color: #243f4d;
    margin-bottom: 35px;
    width: 408px;
    @extend %quicksand-400;
  }

  &__btn{
    border: none;
    background-color: #a3bbc8;
    color:#fff;
    padding: 15px 50px;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    @extend %quicksand-400;
  }




  &__link{
    background-color: #fff;
    padding:12px 15px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: inline-block;
  }

 
  &__link + .shop-content__link{
    margin-left: 10px;
  }

  &__link--active{
    background-color: #a3bbc8;
    path{
      fill: #fff;
    }
  }
}

.detalis{
  max-width: 1200px;
  padding: 120px 0;
  margin: 0 auto;
}

.detalis-item{
  &__inner{
    display: flex;
  }

  &__slide{
    width: 550px;
    margin-right: 70px;
    display: flex;
    
  }
  &__content{
    width: 530px;
  }

  &__thumb{
    width: 140px;
    margin-right: 30px;
  }

  &__thumb-item{
    margin-bottom: 25px;
    width: 140px;
    height: 160px;
    cursor: pointer;
    img{
      border: 2px solid #f2f2f2;
      width: 140px;
      height: 160px;
      object-fit: contain;
    }
  }

  &__big{
    width: 390px;
    height: 545px;
    img{
      width: 390px;
      height: 543px;
      object-fit: cover;
      border: 2px solid #f2f2f2;
      padding: 60px 75px;
      display: inline-block;
      transition: all 1s;
    }

    img:hover{
      transform: scale(1.5);
      cursor: zoom-in;
    }
  }

     &__big-item {
      .detalis-item__big-img{
      padding: 60px 10px;
      }
    }

  &__title{
    font-size: 40px; 
    line-height: 26px;
    color: #333333;
    @extend %quicksand-400;
    margin-bottom: 25px;
    margin-top: 30px;
  }

  &__star{
    margin-bottom: 25px;
    right: 4px;
  }

  &__price{
    font-size: 30px; 
    // line-height: 45px;
    color: #333333;
    @extend %quicksand-400;
    margin-bottom: 35px;
  }

  &__text{
    color: #243f4d;
    margin-bottom: 35px;
  }

  &__box{
    display: flex;
    margin-bottom: 50px;
  }

  &__input{
    margin-right: 15px;
  }
  
  &__btn{
    background-color: #a3bbc8;
    border:none;
    color: #fff;
    border-radius: 8px;
    padding: 18px 50px; 
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 15px;
  }
  
  &__item{
    display: flex;
    margin-bottom: 10px;
    color: #243f4d;
    @extend %quicksand-400;
    font-size: 16px;
  }
}


.jq-number__field {
  width: 150px;
  border: 1px solid #a3bbc8;
  border-radius: 0px;
  transform: translateY(1px);
}

.jq-number__field input {
  width: 100%; 
  height: 55px;
  border: none;
  outline: none;
  text-align: center;
  @extend %quicksand-400;
  color: #333333;
  // padding: 18px 10px;  
}

.jq-number {
  padding: 0;
  position: relative;
}

.jq-number__spin {
  position: absolute;
  cursor: pointer;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: none;
  background: none;
  border-radius: 0px;
  border: none;
  // background-color: red;

}

.jq-number__spin.minus {
  left: 15px;
  top: 28px;
}

.jq-number__spin.plus{
 right: 15px;
 top: 28px;
}




.jq-number__spin::after {
  
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  background-color: #333;
  width: 12px;
  height: 1px;
  border-bottom: 0px;
  border-top: none;
}
.jq-number__spin.minus:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0px;
  background-color: #333;
  width: 12px;
  height: 1px;
  border-bottom: 0px;
  border-top: none;
}




.jq-number__spin.plus::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 5.5px;;
  background-color: #333;
  width: 1px;
  height: 12px;
  border-bottom: 0px;
  border-top: none;
}


.detalis-tabs{
margin-top: -100px;
&__top{
  margin-bottom: 40px;
  text-align: center;
}

&__top-item{
  line-height: 40x;
  color: $safe;
  font-size: 18px;
  @extend %quicksand-500;
  width: 240px;
  height: 50px;
  background-color: #edf1f4;
  padding: 20px 70px;
  border-radius: 8px;
  & + .detalis-tabs__top-item{
    margin-left: 13px;
  } 
}

&__top-bord{
  padding: 20px 25px;
}

&__top-item--active{
  background-color: #a3bbc8;
  color: #fff;
}

&__content-item{
  display: none;

  &.detalis-tabs__content-item--active{
    display: block;
  }
}

&__text{
  color: $safe;
  @extend %quicksand-400;
  line-height: 30px;
  font-size: 16px;
  width: 1160px;
}

}

.related{
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 75px;

  &__title{
    font-size: 36px;
    color: $safe;
    @extend %quicksand-500;
    margin-bottom: 15px;
    position: relative;
  }

  &__items{
    
    .products__item{
      float: left;
      margin: 55px 6px 55px 6px;
      & + .products__item{
        margin-left: 30px;
      }
    }
  }
  
  &__item{
    
    .products__chair {
      width: 270px;
  } 
  }

  
}

.slick-prev,
.slick-next{
  border:1px solid #edf1f4;
  background-color: transparent;
  padding: 18px 12px;
  border-radius: 4px;;
  position: absolute;
  top: -58px;
  right: 6px;
}

.slick-prev{
  position: absolute;
  right: 54px;
  margin-right: 20px;
}

.slick-next--active{
  border-color: #a3bbc8;
}

.blog{
  max-width: 1170px;
  padding: 120px 0;
  margin: 0 auto;
  &__inner{
    display: flex;
    
  }

  &__content{
    margin-right: 70px;
    width: 830px;

    .pagination {
      justify-content: flex-start;
      margin-top: 60px;
  }
  }

  &__content-item{
    position: relative;

  }

  &__content-img{
    width: 830px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 40px;
   
  }

  &__content-box{
    position: absolute;
    top: 430px;
    left: 0;
    background-color: #a3bbc8;
    width: 270px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  
  &__content-link {
    position: relative;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
  } 

  &__content-after{
  position: absolute;
  left: -22px;
  top: 5px;
  }

  &__content-befor{
    position: absolute;
    right: 62px;
    top: 5px;
 }

 &__content-title{
   @extend %quicksand-400;
  color: #333;
 }

 &__content-text{
   width: 795px;
   font-size: 16px;
   color: $safe;
   @extend %quicksand-400;
   margin-bottom: 40px;
   line-height: 30px;
 }

 &__content-view{
   background-color: #fff;
   color: #a3bbc8;
   border: 1px solid #a3bbc8;
   margin-bottom: 50px; 
  
 }

}

.blog-filter{

  width: 270px;
  &__search{
    margin-bottom: 60px;
  }

  &__form{
    display: flex;
  }
  
  &__input{
    border-right: none;
    display: inline-block;
    padding: 0 50px 0 10px;
    width: 270px;
    height: 42px;
    border-radius: 8px;
    border-top: 2px solid #ebf1f3;
    border-bottom: 2px solid #ebf1f3;
    border-left: 1px solid #ebf1f3;


  }

  &__btn{
    border: none;
    background-color: #ebf1f3;
    width: 45px;
    height: 42px;
    margin-left: -45px;
    border-radius: 8px;
    cursor: pointer;
  }

  &__img{
    margin: 0 auto;
  }
}

.blog-posts{
  &__label{
    display: flex;
    margin-bottom: 20px;
    height: 70px;
    &:last-child{
      margin-bottom: 0px;
    }
  }

  &__item{
    margin-right: 20px;
   
  }

  &__link{
    width: 70px;
  }

  &__image{
    max-width: 70px;
    object-fit: cover;
  
  }

  &__text{
    font-size: 14px;
    line-height: 20x;
    color: #333;
    @extend %quicksand-400;
    margin-bottom: 15px;
  }
  
  &__link{
    font-size: 12px;
    line-height: 30x;
    color: #9a9a9a;
    position: relative;
    padding-left: 20px;
  }

  &__link-img{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    display: block;
  }
}

.blog-one{
  max-width: 1170px;
  padding: 120px 0;
  margin: 0 auto;
  &__inner{
    display: flex;
  }

  
  &__text{
    font-size: 16px;
    color: $safe;
    @extend %quicksand-400;
    margin-bottom: 45px;
    line-height: 30px;
  }

  .blog-one__text-medium{
   @extend %quicksand-500;
   margin-bottom: 30px;
  }

  &__blockquote{
    padding: 25px 90px 25px 30px;
    background-color: #edf1f4;
    border-left: 6px solid #a3bbc8;
  }
  
  &__span{
    display: block;
    margin-top: 20px;
    position: relative;
    padding-left: 40px;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/minus.svg');
      height: 3px;
      width: 20px;
      top: 10px;
      left: 0;
    }
  }

  &__tempor{
    display: flex;
    margin-bottom: 15px;
    &-img{
      width: 325px;
      height: 210px;
      object-fit: contain;
      margin-right: 30px;
    }

    
    &-text{
      color: #565872;
      font-size: 16px;
      line-height: 30px;
      @extend %quicksand-400;
    }
  }
  
  &__title{
   color: $safe;
   @extend %quicksand-500;
   margin-bottom: 30px;
   margin-top: 30px;
  }

  &__raspored-text{
    margin-bottom: 65px;
  }

  &__info{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 2px solid #ebebeb;
    border-top: 2px solid #ebebeb;
    margin-bottom: 65px;
  }

  &__name{
    display: flex;

    &-img{
      margin-right: 25px;
    }

   &-title{
     line-height: 25px;
     @extend %quicksand-500;
     color: #333;
     width: 165px;
     margin-top: 10px;
   }

   &-link{
     font-size: 16px;
     line-height: 30px;
     @extend %quicksand-400;
   }
  }
  
  &__list-item{
    display: flex;
    margin-bottom: 15px;
    margin-top: 10px;
    &:last-child{
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }

  &__list-tags{
    font-size: 16px;
    line-height: 26px;
    @extend %quicksand-400;
    color: #333333;
    margin-right: 22px;
  }

  &__list-info{
    font-size: 16px;
    line-height: 26px;
    @extend %quicksand-400;
  }

  &__list-icon{
    display: flex;
    width: 120px;
    height: 20px;
    margin-top: 5px;

  }

  &__list-icon-list +.blog-one__list-icon-list{
    margin-left: 20px;
  }

  &__list-img{
    vertical-align: middle;
    display: inline-block;
  }

  &__list-img +.blog-one__list-img{
    margin-left: 20px;
  }
}

.commetnts{
  
  &__title{
    margin-bottom: 60px;
    font-size: 24px;
    line-height: 36px;
    color: #436372;
    @extend %quicksand-700;
  }
  
  &__item{
    display: flex;
  }

  &__item--active{
    .commetnts__image{
      margin-left: 130px;
    }
  }
  
  &__info{
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 30px;
    margin-bottom: 30px;
    
    
    &-four{
      border:none;
      padding-bottom: 0px;
      margin-bottom: 100px;
    }
  }

  

  &__image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 30px;
  }

  &__name-date{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__name{
    font-size: 16px;
    color:#436372;
    @extend %quicksand-700;
  }

  &__date{
    @extend %quicksand-400;
  }

  &__text{
    @extend %quicksand-400;
    font-size: 16px;
    line-height: 30px;
    color: #565872;
    margin-bottom: 15px;
  }

  &__link{
    color: #516278;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-blue.svg');
      width: 22px;
      height: 9px;
      top: 5px;
      left: 45px;
    }
  }

  
  &__label-box{
    display: flex;
    margin-bottom: 20px;
  }

  &__label-name{
    position: relative;
  }

  &__input-name-img{
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 999;
  }
  
  &__input-name{
    margin-right: 30px;
    width: 400px;
    height: 50px;
    padding: 0 45px 0 10px; 
  }

  
  &__input-name:focus{
    border: 1px solid #a3bbc8;
    outline: 0;

  }

  &__label-mail{
    position: relative;
  }

  &__input-mail-img{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
  }

  &__input-mail{
    width: 400px;
    height: 50px;
    padding: 0 45px 0 10px;
  }

  &__input-mail:focus{
    border: 1px solid #a3bbc8;
    outline: 0;

  }


  &__label-comment{
    position: relative;
  }

  &__input-comment-img{
    position: absolute;
    bottom: 131px;
    right: 20px;
  }

  &__input-comment{
    width: 830px;
    height: 120px;
    padding: 10px 40px 10px 10px; 
    margin-bottom: 40px;
    resize: none;
  }

  
  &__input-comment:focus{
    border: 1px solid #a3bbc8;
    outline: 0;

  }

  &__btn{
    border: none;
    background-color: #a3bbc8;
    padding: 20px 35px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    @extend %quicksand-400; 
  }

}

.contact{
  max-width: 1170px;
  margin: 0 auto;
  padding: 120px 0;

  

}

.contact__top{
  margin-bottom: 120px;

  &-recording{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #a3bbc8;
    @extend %quicksand-700; 
  }
  
  &-title{
    text-align: center;
    font-size: 35px;
    color: #436372;;
    line-height: 57px;
    color: $link;
    margin-bottom: 60px;
  }

  &-items{
    display: flex;
  }
  
  &-item{
    width: 370px;
    height: 380px;
    background-color: #fbfbfb;
    text-align: center;
    

    & + .contact__top-item {
      margin-left: 30px;
    }
  }

  
  &-img{
    margin-top: 70px;
    width: 80px;
    height: 75px;
    background-color: #fff;
    border-radius: 20px;
    padding-left: 23px;
    padding-top: 15px;
    margin-bottom: 55px;
    transition: all .3s;
  }
  
  &-item--active{
    border: 3px solid #a3bbc8;
    
    path{
      fill: #fff;
    }
    .contact__top-img{
    background-color: #a3bbc8;
    }

  }

  &-title-info{
    font-size: 20px;
    line-height: 26px;
    color: #222222;
    margin-bottom: 20px;
  }

  &-address{
    width: 160px;
    font-size: 16px;
    line-height: 30px;
    color: #565872;
    @extend %quicksand-400;
    display: block;
    margin: 0 auto;
  }

  &-info{
    width: 258px;
    font-size: 16px;
    line-height: 30px;
    color: #565872;
    @extend %quicksand-400;
    display: block;
    margin: 0 auto;
  }
}

.contact__bottom{
  &-inner{
    display: flex;

    .commetnts__form{
      margin-right: 50px;
    }

    .commetnts__input-name{
      width: 300px;

      &::placeholder{
      text-transform: uppercase;
      font-size: 16px;
      line-height: 30px;
      @extend %quicksand-400;
      }
    }

    .commetnts__input-mail{
      width: 300px;
      &::placeholder{
        text-transform: uppercase;
        font-size: 16px;
        line-height: 30px;
        @extend %quicksand-400;
        }
    }


    .commetnts__input-comment{
      margin-bottom: 25px;
      width: 630px;
      height: 180px;
      &::placeholder{
        text-transform: uppercase;
        font-size: 16px;
        line-height: 30px;
        @extend %quicksand-400;
        }
    }

    .commetnts__input-comment-img{
      bottom: 120px;
    }

    .commetnts__btn{
      display: block;
      border-radius: 8px;
      width: 200px;
      height: 50px;
    }
  }

  &-title{
    color: #436372;
  }

  &-link{
    color: #436372;
  }

}

#map {
  width: 500px;
  height: 335px;
}


.mission{
  max-width: 1170px;
  margin: 0 auto;
  padding: 120px 0;

  &__inner{
    display: flex;
  }

  &__img{
    margin-right: 50px;
    width: 570px;
    height: 675px;
    object-fit: cover;
  }

  &__text-box{
    display: flex;
    margin-top: 80px;
    margin-bottom: 55px;
  }

  &__number{
    margin-right: 30px;
    font-size: 140px;
    line-height: 70px;
    @extend %quicksand-700;
    color: #a3bbc8;
  }

  &__text-plan{
    width: 88px;
    font-size: 16px;
    line-height: 30px;
    color: $safe;
    @extend %quicksand-400;
  }

  &__title{
    font-size: 36px;
    line-height: 32px;
    color: $safe;
    @extend %quicksand-700;
    margin-bottom: 40px;
  }

  &__text{
    border-bottom: 3px solid #e6eaf0;
    padding-bottom: 60px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 30px;
    color: $safe;
    @extend %quicksand-400;
    width: 555px;
  }

  &__box{
    display: flex;
  }

  &__num{
    & + .mission__num{
      margin-left: 120px;
    }
    font-size: 36px;
    line-height: 38px;
    color: $safe;
    @extend %quicksand-700;
    width: 85px;
    padding-left: 55px;
  }
  
  &__span{
    display: block;
    font-size: 16px;
    line-height: 17px;
    color: #4c4c4c;
    @extend %quicksand-400;
    margin-top: 10px;
    margin-left: 5px;
  }

  &__num-one{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/write.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 37px;
      height: 38px;
      top: 7px;
      left: 0;
    }
  }

  &__num-two{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/radio.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 37px;
      height: 38px;
      top: 7px;
      left: 0;
    }

    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/line.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 1px;
      height: 80px;
      top: -8px;
      left: -25px;
    }
  }

  &__num-three{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/medal.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 37px;
      height: 38px;
      top: 7px;
      left: 0;
    }

     &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/line.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 1px;
      height: 80px;
      top: -8px;
      left: -25px;
    }
  }
}

.work{
  background-color: #fcd7b6;
  height: 320px;
  margin-bottom: 120px;

  &__items{
    width: 1070px;
    margin: 0 auto; 
    padding: 85px 0;
    display: flex;
  }

  &__item{
    max-width: 188px;
    height: 155px;
    & + .work__item{
      margin-left: 140px;
    }
  }

  &__image{
    margin: 0 auto 25px;
  }

  &__number{
    font-size: 36px;
    line-height: 32px;
    color: $safe;
    margin-bottom: 25px;
    @extend %quicksand-500;
    text-align: center;
    position: relative;
    
        &::before{
          content: '';
          position: absolute;
          background-image: url('../images/icons/ball.svg');
          background-repeat: no-repeat;
          background-size: cover;
          width: 37px;
          height: 38px;
          top: -69px;
          right: 42px;
          opacity: 0.8;
        }
  }
  
  &__num{
    font-size: 36px;
    line-height: 32px;
    color: $safe;
    margin-bottom: 25px;
    @extend %quicksand-500;
    text-align: center;
    position: relative;
    
        &::before{
          content: '';
          position: absolute;
          background-image: url('../images/icons/ball.svg');
          background-repeat: no-repeat;
          background-size: cover;
          width: 37px;
          height: 38px;
          top: -60px;
          right: 30px;
          opacity: 0.8;
        }
  }

  &__span{
    font-size: 18px;
    line-height: 32px;
    color: $safe;
    @extend %quicksand-500;
    text-align: center;
  }

  &__image-car{
    margin-bottom: 40px;
    margin-top: 10px;
  }

  &__image-window{
    margin-bottom: 32px;
  }
}

.team{
  max-width: 1170px;  
  margin: 0 auto;
  padding-bottom: 120px;

  &__inner{
    display: flex;
  }

  &__our{
    margin-right: 100px;
  }

  &__title{
    font-size: 36px;
    line-height: 32px;
    color: $safe;
    @extend %quicksand-500;
    margin-bottom: 35px;
  }

  &__text{
    width: 305px;
    font-size: 16px;
    line-height: 30px;
    color: $safe;
    @extend %quicksand-400;
    margin-bottom: 40px;
  }

  &__link{
    font-size: 15px;
    line-height: 55px;
    color: #fff;
    background-color: #a3bbc8;
    padding: 20px 60px 20px 20px;
    border-radius: 8px;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      background-image: url('..//images/icons/arrow-white.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 15px;
      height: 11px;
      top: 23px;
      right: 25px;
    }
  }

  &__items{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap:  100px 30px;
  }

  &__item{
    position: relative;
    
  }
  
  &__info{
    display: flex;
    position: absolute;
    width: 325px;
    height: 110px;
    background-color: #fff;
    top:255px;
    left: 0;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  }


  &__box{
    padding: 30px 25px;
    
  }
  

  &__title-name{
    font-size: 22px;
    line-height: 26px;
    color: $safe;
    margin-bottom: 10px;
    @extend %quicksand-500;
  }

  &__position{
    font-size: 16px;
    line-height: 30px;
    color: #565872;
    @extend %quicksand-400;
  }

  &__social-box{
    padding: 35px 19px;
    display: flex;
  }

  &__link-social-inst{
    background-color: #f6f6f6;
    padding: 12px;
    margin-right:8px;
    border-radius: 50%;
  
  }

  &__link-social{
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 50%;
   
  }

  &__img-social-two{
    margin-top: 3px;
  }

}




@import 'media'; 