@import 'vars';
@import 'fonst';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  &__inner{
  margin: 50px 0 45px;
  display:flex; 
  justify-content: space-between;
  align-items: center;
  // background-color: aquamarine;
  }
}

.logo{
 &__image{
  position: relative;
 }

 &__after::after{
    content: "Glee.";
    position: absolute;
    font-size: 36px;
    line-height: 58px;
    left: 130px;
    top: 45px;
    color: $header;
    @extend %quicksand-500;

    // background-image: url('../images/icons/mark.jpg');
 }

}

.menu{


  &__list{
    display: flex;
    font-size: 15px;
    line-height: 12px;
  }

  &__list-item + .menu__list-item{
    margin-left: 35px;
  }

  &__list-link{
    color: $header;
    @extend %quicksand-500;
  }
}

.user-nav{
  display: flex;
  
  &__inner{
    position: relative;
    
  }

  &__inner + .user-nav__inner{
    margin-left: 50px;
  }

  &__shape-mark{
    display: flex;
    

  }
  
  &__link-mark{
    margin-left: 50px;
  }

  &__num{
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    width: 15px;
    height: 15px;
    top:9px;
    right: 87px;
    font-size: 10px;
    text-align: center;
    line-height: 18px;
  }

  &__num-mark{
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    width: 15px;
    height: 15px;
    top:9px;
    right: 25px;
    font-size: 10px;
    text-align: center;
    line-height: 18px;
  }
  
    &__icon{
    // position: relative;   
    min-width: 50px;
    min-height: 50px;
    background-color: #d4eaf5;
    border-radius: 50%;
    }

  &__shape-mark{
    // position: relative;
    min-width: 150px;
    min-height: 50px;
    background-color: #fcd7b6;
    border-radius: 50px;
  }

  &__ellipse{
    // position: relative;
    min-width: 50px;
    min-height: 50px;
    background-color: #88b3ca;
    border-radius: 50%;
  }

  &__link-image{
    position: absolute;
    left: 16px;
    /* right: auto; */
    top: 16px;
    
  }

   &__link-image-shape{
    position: absolute;
    top: 16px;
    left: 35px
  }

  &__link-image-mark{
    position: absolute;
    top: 16px;
    left: 100px
  }

}

.footer-top{
  padding: 80px 0 70px;
  border-bottom: 1px solid #dae4e9;
  display: flex;

  &__contact{
    width: 220px;
    margin-right: 100px;
  }

  &__our{
    width: 120px;
    margin-right: 175px;
  }

  &__info{
    width: 90px;
    margin-right: 200px;
  }

  &__news{
    max-width: 270px;
  }
  
  &__logo{
    display: block;
    margin-bottom: 30px;

    &__image{
      position: relative;
    }
    
    //  &__after::after{
    //     content: "Glee.";
    //     position: absolute;
    //     font-size: 36px;
    //     line-height: 58px;
    //     left: 130px;
    //     top: 410px;
    //     color: $header;
    //     @extend %quicksand-500;
    //   }

  }
    
  &__adress,
  &__phone,
  &__email{
    line-height: 24px;
    display: block;
    margin-bottom: 20px;
  }


  &__title{
    margin-bottom: 33px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 21px;
    color:#1f2044;
    text-transform: uppercase;
  }
  
  &__list-item{
    margin-bottom: 15px;
    
  }

  &__text{
    font-size: 14px;
    line-height: 32x;
    color: #7b7b7b;
    margin-bottom: 35px;
  }

  &__form{
    display: flex;
  }

  &__input{
    padding: 15px;
    background-color: #fef7f0;
    border: none;
    max-width: 170px;
    width: 100%;
    
    &::placeholder{
      font-size: 14px;
      color: #234969;
      @extend %quicksand-500;
    }

 
  }

  &__btn{
    background-color: #a3bbc8;
    border:none;
    color: #fff;
    padding: 15px;
  }



}

.footer-bottom{
  display: flex;
  justify-content: space-between;

  &__text{
    font-size: 14px;
    line-height: 32x;
    color: #7b7b7b;
    margin-bottom: 35px;
  }

  &__menu-list{
    display: flex;

  }

  

  &__menu-item + .footer-bottom__menu-item{
    margin-left: 12px;
  }

}

.top-slider{
  background-image: url('../images/top-header-ellipse.png');
  background-repeat: no-repeat;
  background-size: 675px;
  background-position: right;
  background-color: #fcd7b6;
  padding-top: 274px;
  padding-bottom: 50px;

  &__content{
   padding-left: 190px;
   
  }

  &__item{
    display: flex !important;
    justify-content: space-between;
  }

  &__title{
    font-size: 72px;
    line-height: 70px;
    color: $header;
    max-width: 430px;
    margin-bottom: 45px;
    @extend %quicksand-500;
  }

  &__text{
    max-width: 370px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 30px;
    @extend %quicksand-400;
    color: #436372;
  }

  &__link{
    color: #fff;
    background-color: #a3bbc8;
    padding: 20px 25px;
    @extend %quicksand-500;
    
  }

  &__img{
    padding-top: 50px;
  }


}

.slick-dots{
  display: flex;
  justify-content: center;

  li{
    padding: 0 8px;
    button{
      padding: 0;
      font-size: 11px;
      line-height: 9px;
      border: none;
      background-color: #fff;
      width: 29px;
      height: 29px;
      opacity: 0.5;
      border-radius: 50%;
      color: #243f4d;
      @extend %quicksand-500;
      margin-top: 200px;
    }
    &.slick-active{
      button{
        opacity: 1;
      }
    }
  }
}



@import 'media'; 