.our{
  max-width: 1170px;
  margin: 0 auto;
  
  &__top{
    display: flex;
    justify-content: space-between;
  }

  &__top-link{
    position: relative;
    font-size: 16px;
    color: $our;
    margin-right: 20px;
    margin-top: 20px;
  }
  
  &__top-link::after{
    content: "";
    position: absolute;
    background-image: url('../images/our/link.svg');
    background-repeat: no-repeat;
    width: 6px;
    height: 11px;
    top: 3px;
    right: -20px;
  }
 

  

  &__items{
    display: flex;
   flex-wrap: wrap;
  }

  &__item{
    width: 370px;
    position: relative;
  }

  &__item + .our__item{
    margin-left: 30px;
  }

  &__img{
    height: 250px;
  }

  &__item::before{
    content:"NEWS";
    position: absolute;
    background-color: #a3bbc8;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 33px;
    top: 228px;
    left: 30px;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    @extend %quicksand-500;
    z-index: 1;
  }

  &__box{
    padding: 35px 55px 35px 30px;
    position: absolute;
    background-color: #fff;
    
  }

  &__text{
    border-bottom: 1px solid #e0e0e0;
    width: 286px;
    height: 75px;
    color: $our;
    @extend %quicksand-500;
   
  }

  &__link-box{
    display: flex;
    padding: 20px 0 0 ;
  }

  &__link{
    font-size: 12px;
    line-height: 30p;
    color: #222933;
  }

  &__link + .our__link{
    margin-left: 30px;
  }
}

@media (max-width:1210px ){
  .our{
    padding: 0 15px;
    &__item{
      margin-bottom: 200px;
    }

    &__item + .our__item{
      margin-left: 0px
    }

    &__item{
      margin-right: 20px;
      
    }
  }
}

@media (max-width:830px ){
  .our{

    &__item{
      margin: 0 auto 200px!important;

    }
  }
}

@media (max-width:420px ){
  .our{

   &__item{
   width: 70%;
   
   }

   &__text{
    width: 225px;
    height: 100px;
   }
  }
}


@media (max-width:350px ){
  .our{

   &__item{
    padding-bottom: 35px;
   &::before{
    top: 160px;
   }
   }

   &__text{
    width: 200px;
    height: 115px;
   }

   &__img{
     height: 180px;
   }

   &__box{
    padding: 35px 5px 35px 5px;
   }

   &__link +.our__link {
     margin-left: 10px;
   }

   &__top{
     flex-wrap: wrap;
   }

   &__top-link{
    margin-top: 0px;
    margin-bottom: 25px;
   }
  }
}

