<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/about.min.css">
</head>

<body>

   {% include ('app/module/_header/_header.html') %}

  <main class="main">

    <section class="top">
      <div class="top__container">
        <h2 class="top__title">
          About Us
        </h2>
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">

            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="">
                Home
              </a>
            </li>

            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="">
                About Us
              </a>
            </li>

          </ul>
        </div>
      </div>
    </section>

    <section class="mission">
      <div class="mission__inner">
        <img class="mission__img" src="images/about/mission.jpg" alt="image">
        <div class="mission__creative">
          <div class="mission__text-box">
            <div class="mission__number">
              12
            </div>
            <div class="mission__text-plan">
              Years
              Experience
              Working
            </div>
          </div>
          <h4 class="mission__title">
            Mission of our creative house
          </h4>
          <p class="mission__text">
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum
          </p>
          <div class="mission__box">
            <div class="mission__num mission__num-one">
              520+
              <span class="mission__span">
                Projects
              </span>
            </div>
            <div class="mission__num  mission__num-two">
              $4M
              <span class="mission__span">
                Revenue
              </span>
            </div>
            <div class="mission__num mission__num-three">
              250
              <span class="mission__span">
                Awards
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="work">
      <div class="work__items">

        <div class="work__item work__window">
          <img class="work__image work__image-window" src="images/icons/window.svg" alt="icon work">
          <div class="work__number ">
            99%
          </div>
          <span class="work__span">
            Satisﬁed Clients Rate
          </span>
        </div>

        <div class="work__item work__car">
          <img class="work__image work__image-car" src="images/icons/track.svg" alt="icon work">
          <div class="work__number">
            5020+
          </div>
          <span class="work__span">
            Products Delivered
          </span>
        </div>

        <div class="work__item work__time">
          <img class="work__image" src="images/icons/watch.svg" alt="icon work">
          <div class="work__num">
            23hr
          </div>
          <span class="work__span">
            Daily Working Time
          </span>
        </div>

        <div class="work__item ">
          <img class="work__image" src="images/icons/star.svg" alt="icon work">
          <div class="work__num ">
            140+
          </div>
          <span class="work__span">
            Brands in Store
          </span>
        </div>

      </div>
    </div>

    <section class="team">
      <div class="team__inner">
        <div class="team__our">
          <h4 class="team__title">
            Our Team
          </h4>
          <p class="team__text">
            Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </p>
          <a class="team__link" href="#">
            Join With US
          </a>
        </div>
        <div class="team__items">

          <div class="team__item">
            <img class="team__img" src="images/about/worker1.jpg" alt="team image">
            <div class="team__info">
              <div class="team__box">
                <h5 class="team__title-name">
                  Eliza Elliot
                </h5>
                <div class="team__position">
                  Commodo tempor 
                </div>
              </div>

              <div class="team__social-box">
              <a class="team__link-social-inst" href="#">
                <img class="team__img-social" src="images/icons/insta.svg" alt="">
              </a>

              <a class="team__link-social" href="#">
                <img class="team__img-social-two" src="images/icons/google.svg" alt="">
              </a>
            </div>
            </div>
          </div>

          <div class="team__item">
            <img class="team__img" src="images/about/worker2.jpg" alt="team image">
            <div class="team__info">
              <div class="team__box">
                <h5 class="team__title-name">
                  Roscoe A. 
                </h5>
                <div class="team__position">
                  Commodo tempor 
                </div>
              </div>

              <div class="team__social-box">
              <a class="team__link-social-inst" href="#">
                <img class="team__img-social" src="images/icons/insta.svg" alt="">
              </a>

              <a class="team__link-social" href="#">
                <img class="team__img-social-two" src="images/icons/google.svg" alt="">
              </a>
            </div>
            </div>
          </div>

          <div class="team__item">
            <img class="team__img" src="images/about/worker3.jpg" alt="team image">
            <div class="team__info">
              <div class="team__box">
                <h5 class="team__title-name">
                  Ruby M. 
                </h5>
                <div class="team__position">
                  Commodo tempor 
                </div>
              </div>

              <div class="team__social-box">
              <a class="team__link-social-inst" href="#">
                <img class="team__img-social" src="images/icons/insta.svg" alt="">
              </a>

              <a class="team__link-social" href="#">
                <img class="team__img-social-two" src="images/icons/google.svg" alt="">
              </a>
            </div>
            </div>
          </div>

          <div class="team__item">
            <img class="team__img" src="images/about/worker4.jpg" alt="team image">
            <div class="team__info">
              <div class="team__box">
                <h5 class="team__title-name">
                  Marie F. Bloss
                </h5>
                <div class="team__position">
                  Commodo tempor 
                </div>
              </div>

              <div class="team__social-box">
              <a class="team__link-social-inst" href="#">
                <img class="team__img-social" src="images/icons/insta.svg" alt="">
              </a>

              <a class="team__link-social" href="#">
                <img class="team__img-social-two" src="images/icons/google.svg" alt="">
              </a>
            </div>
            </div>
          </div>


        </div>
      </div>
    </section>


     {% include ('app/module/_our/_our.html') %}


  </main>

  {% include ('app/module/_footer/_footer.html') %}

  <script src="js/main.min.js"></script>
</body>

</html>