.mission {
  max-width: 1170px;
  margin: 0 auto;
  padding: 120px 0;

  &__inner {
    display: flex;
  }

  &__img {
    margin-right: 50px;
    width: 570px;
    height: 675px;
    object-fit: cover;
  }

  &__text-box {
    display: flex;
    margin-top: 80px;
    margin-bottom: 55px;
  }

  &__number {
    margin-right: 30px;
    font-size: 140px;
    line-height: 70px;
    @extend %quicksand-700;
    color: #a3bbc8;
  }

  &__text-plan {
    width: 88px;
    font-size: 16px;
    line-height: 30px;
    color: $safe;
    @extend %quicksand-400;
  }

  &__title {
    font-size: 36px;
    line-height: 32px;
    color: $safe;
    @extend %quicksand-700;
    margin-bottom: 40px;
  }

  &__text {
    padding-bottom: 35px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 30px;
    color: $safe;
    @extend %quicksand-400;
    width: 555px;
    border-bottom: 3px solid #e6eaf0;
  }

  &__box {
    display: flex;
  }

  &__num {
    & + .mission__num {
      margin-left: 120px;
    }
    font-size: 36px;
    line-height: 38px;
    color: $safe;
    @extend %quicksand-700;
    width: 85px;
    padding-left: 55px;
  }

  &__span {
    display: block;
    font-size: 16px;
    line-height: 17px;
    color: #4c4c4c;
    @extend %quicksand-400;
    margin-top: 10px;
    margin-left: 5px;
  }

  &__num-one {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/write.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 37px;
      height: 38px;
      top: 7px;
      left: 0;
    }
  }

  &__num-two {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/radio.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 37px;
      height: 38px;
      top: 7px;
      left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icons/line.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 1px;
      height: 80px;
      top: -8px;
      left: -25px;
    }
  }

  &__num-three {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/medal.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 37px;
      height: 38px;
      top: 7px;
      left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icons/line.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 1px;
      height: 80px;
      top: -8px;
      left: -25px;
    }
  }
}

.work {
  background-color: #fcd7b6;
  height: 320px;
  margin-bottom: 120px;

  &__items {
    width: 1070px;
    margin: 0 auto;
    padding: 85px 0;
    display: flex;
  }

  &__item {
    max-width: 188px;
    height: 155px;
    & + .work__item {
      margin-left: 140px;
    }
  }

  &__image {
    margin: 0 auto 25px;
  }

  &__number {
    font-size: 36px;
    line-height: 32px;
    color: $safe;
    margin-bottom: 25px;
    @extend %quicksand-500;
    text-align: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/ball.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 37px;
      height: 38px;
      top: -69px;
      right: 42px;
      opacity: 0.8;
    }
  }

  &__num {
    font-size: 36px;
    line-height: 32px;
    color: $safe;
    margin-bottom: 25px;
    @extend %quicksand-500;
    text-align: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/ball.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 37px;
      height: 38px;
      top: -60px;
      right: 30px;
      opacity: 0.8;
    }
  }

  &__span {
    font-size: 18px;
    line-height: 32px;
    color: $safe;
    @extend %quicksand-500;
    text-align: center;
  }

  &__image-car {
    margin-bottom: 40px;
    margin-top: 10px;
  }

  &__image-window {
    margin-bottom: 32px;
  }
}



@media (max-width: 1200px) {
  .mission {
    &__title {
      font-size: 27px;
    }

    &__text {
      width: 100%;
    }

    &__num-two::after {
      display: none;
    }

    &__num-three::after {
      display: none;
    }

    &__num + .mission__num {
      margin-left: 80px;
    }
  }

  .work {
  
    &__item {
      margin: 20px auto;
      max-width: 100%;
    }
  }
}

@media (max-width: 1110px) {
  .mission {
    &__inner {
      padding: 0 15px;
    }
    padding: 100px 0;

    &__box {
      flex-wrap: wrap;
    }

    &__num {
      margin: 20px;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__text {
      margin-bottom: 20px;
    }

    &__title {
      font-size: 22px;
    }
  }

  .work {
    height: auto;
    &__items {
      width: auto;
      padding: 45px 20px;
      flex-wrap: wrap;
    }

  }
}

@media (max-width: 1050px) {
  .mission {
    &__num + .mission__num {
      margin-left: 20px;
    }

    &__box {
      width: 100%;
      display: block;
    }

    &__number {
      font-size: 100px;
    }

    &__text-box {
      margin-top: 0px;
      margin-bottom: 20px;
    }
  }

  .work {

    &__item + .work__item {
      margin-left: 35px;
    }

  }
}

@media (max-width: 980px) {
  .mission {
    &__text {
      padding-bottom: 5px;
    }

    &__title {
      font-size: 18px;
    }
  }


}

@media (max-width: 930px) {
  .mission {
    &__inner {
      flex-wrap: wrap;
    }

    &__img {
      order: 1;
    }

    &__creative {
      margin-bottom: 50px;
    }

    &__box {
      display: flex;
    }

    &__num + .mission__num {
      margin-left: 0px;
    }

    &__num {
      margin: 30px 85px 30px 30px;
    }

    &__title {
      font-size: 36px;
    }
  }
}

@media (max-width: 580px) {
  .mission {
    &__title {
      font-size: 26px;
    }

    &__img {
      height: 600px;
    }

    &__creative {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 430px) {
  .mission {
    &__title {
      font-size: 18px;
    }

    &__img {
      height: 445px;
    }
  }

  .work{

    &__item + .work__item {
      margin-left: auto;
    }
  }
}

@media (max-width: 385px) {
  .mission {
    &__num-one {
      margin-right: 80x;
    }

    &__num {
      margin: 30px 85px 30px 0px;
    }

    &__box {
      padding: 20px;
    }
  }
  
  .work{
    margin-bottom: 70px;
  }
}

@media (max-width: 335px) {
  .mission {
    &__img {
      height: 330px;
    }
  }
}
