.partners{
  
  padding-top: 270px;
  padding-bottom: 90px;
  margin-bottom: 70px;
  background-color: #fef7f0;
  &__list{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1040px;
    align-items: center;
    color: #fef7f0;
  }
}



.partners__login{
  padding-top: 80px;
  margin-bottom: 70px;
}



@media (max-width:1210px ){
  .partners{
    padding: 40px 0;
  }
}

@media (max-width:1070px ){

  .partners{
   &__list{
     flex-wrap: wrap;
     justify-content: center;
     width: auto;
   }

   &__item{
     margin: 25px 25px;
   }
  }

}