.team {
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 120px;

  &__inner {
    display: flex;
  }

  &__our {
    margin-right: 100px;
  }

  &__title {
    font-size: 36px;
    line-height: 32px;
    color: $safe;
    @extend %quicksand-500;
    margin-bottom: 35px;
  }

  &__text {
    width: 305px;
    font-size: 16px;
    line-height: 30px;
    color: $safe;
    @extend %quicksand-400;
    margin-bottom: 40px;
  }

  &__link {
    font-size: 15px;
    line-height: 55px;
    color: #fff;
    background-color: #a3bbc8;
    padding: 20px 60px 20px 20px;
    border-radius: 8px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("..//images/icons/arrow-white.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 15px;
      height: 11px;
      top: 23px;
      right: 25px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 100px 30px;
  }

  &__item {
    position: relative;
  }

  &__info {
    display: flex;
    position: absolute;
    width: 325px;
    height: 110px;
    background-color: #fff;
    top: 255px;
    left: 0;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  }

  &__box {
    padding: 30px 25px;
  }

  &__title-name {
    font-size: 22px;
    line-height: 26px;
    color: $safe;
    margin-bottom: 10px;
    @extend %quicksand-500;
  }

  &__position {
    font-size: 16px;
    line-height: 30px;
    color: #565872;
    @extend %quicksand-400;
  }

  &__social-box {
    padding: 35px 19px;
    display: flex;
  }

  &__link-social-inst {
    background-color: #f6f6f6;
    padding: 12px;
    margin-right: 8px;
    border-radius: 50%;
  }

  &__link-social {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 50%;
  }

  &__img-social-two {
    margin-top: 3px;
  }
}

@media (max-width: 1230px) {
  .team {
    .team__items {
      grid-template-columns: none;
      margin: 0 auto;
    }

    &__inner {
      padding: 0 25px;
    }
  }
}

@media (max-width: 840px) {
  .team {
    &__our {
      margin: 0 auto;
    }

    &__inner {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 740px) {
  .team {
    &__our {
      order: 1;
    }

    .team__items {
      margin-bottom: 90px;
    }
  }
}

@media (max-width: 440px) {
  .team {

   

    &__img {
      width: 300px;
    }

    &__info {
      top: 215px;
      width: 250px;
    }

    .team__items {
      margin-bottom: 150px;
    }

    .team__title-name {
      font-size: 14px;
      margin-bottom: 0px;
    }

    .team__position {
      font-size: 12px;
    }

    .team__box {
      padding: 30px 8px;
      
    }
  }
}

@media (max-width: 440px) {
  .team {
    &__text{
      width: 250px;
    }

    // &__items{
    //   grid-gap: 140px 30px;
    // }
  }
}

@media (max-width: 369px) {
  .team {

    &__items{
      grid-gap: 140px 30px;
    }
  }
}
